In [9]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [4]:
data = {
    'Age' : [23,35,45,55],
    'MonthlyCharges' : [70,100,80,120],
    'Contract' : [0,1,1,2],
    'Tenure' : [12,25,10,35],
    'InternetService' : [0,1,1,0],
    'Churn' : [0,1,0,1] #Class
}

In [6]:
df = pd.DataFrame(data)
df

   Age  MonthlyCharges  Contract  Tenure  InternetService  Churn
0   23              70         0      12                0      0
1   35             100         1      25                1      1
2   45              80         1      10                1      0
3   55             120         2      35                0      1

In [8]:
X = df.drop('Churn', axis=1)
Y = df['Churn']
X

   Age  MonthlyCharges  Contract  Tenure  InternetService
0   23              70         0      12                0
1   35             100         1      25                1
2   45              80         1      10                1
3   55             120         2      35                0

In [ ]:
X_train,X_test,Y_train,Y_test = train_test_split(X, Y,train_size=0.8, random_state=42)

In [ ]:
mymodel = DecisionTreeClassifier (criterion='gini', max_depth=3,  random_state=42)

In [ ]:
class sklearn.tree.DecisionTreeClassifier(*, criterion='gini', splitter='best', max_depth=None, min_samples_split=2, min_samples_leaf=1, min_weight_fraction_leaf=0.0, max_features=None, random_state=None, max_leaf_nodes=None, min_impurity_decrease=0.0, class_weight=None, ccp_alpha=0.0, monotonic_cst=None)[source]